.homepage-cta {
  background: #bb2a2a;
}

#about, #services, #contact, #news {

  height: 300px;
}

.header {
  background: blue url('../images/city.jpg') no-repeat
;
  background-size: cover;
  height: 450px;

}

